.background-fade {
    text-align: center;
    font-size: 24pt;
    background-color: rgba(150, 150, 245, 0.3);
}
header {
    text-shadow: 4px 4px 2px rgba(100, 122, 250, 0.5);
}
.button1 {
    display: inline-block;
    /* border: 2px solid blue; */
    border-radius: 15%;
    background-color: rgba(100, 125, 150, 1);
    font-size: 12pt;
    height: 35px;
    width: 115px;
}
.button1:hover {
    background-color: rgba(150, 125, 100, 1);
}
nav {
    margin-top: 15px;
    font-size: 20pt;
}
nav a:hover {
    transition: color 0.4s ease;
    color: rgb(243, 27, 27);
}
.button2 {
    display: inline-block;
    margin-top: 15px;
    padding: 0.5%;
    width: 85px;
    border-radius: 10%;
    font-size: 14pt;
}
@keyframes scale {
    from{transform: scale(1)}
    to {transform: scale(2)}
}
.button2:hover {
    animation: scale 0.8s infinite linear;
}
img {
    margin: 15%;
    animation: rotate 5s infinite linear;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}